<!DOCTYPE html> 
<html>
    <head>         
        <title>Error del servidor</title>         
        <meta charset="UTF-8"> 
        <link rel="stylesheet" type="text/css" href="../css/error.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>     
    <body>
        <div id='error-page'>
            <header>
                <div class="sup">
                    FACEBLUFF
                </div>
            </header>
            <div id='error-inner'>
                <h1> No se puede encontrar la dirección <%=url%></h1>
            <div class="pesan-eror">404</div>
                <p class="balik-home"><a href="login">Volvamos a casa, es más seguro...</a></p><br/>
            </div>
        </div>   
    </body> 
</html>   