<!DOCTYPE html>
<html lang="es">
<header>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link href="../css/login.css" rel="stylesheet">
</header>

<body>
    <div class="header">
        <div class="sup">
            FACEPLUFF
        </div>
        <div class="navbar">
            <a class="active" href="#">Entrar</a>
            <a href="newUser" target="_self">Nuevo Usuario</a>
        </div>
    </div>
    <div class="body2">
        <div id="title"><strong>Entrar</strong></div>
        <div class="login">
            <% if (errors) { %>
                <% errors.forEach(p=>{ %>
                    <li> <%= p.msg %></li>
                <% }) %>
            <% } %>
            <form id="loginform" method="POST" action="/isUserCorrect">
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Introduce el email" name="email">

                    <label for="psw"><b>Contraseña</b></label>
                    <input type="password" placeholder="Introduce la contraseña" name="psw">

                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        
    </div>
    <footer>
            <p>
                Ignacio Domingo
            </p>
            <p>
                Alberto Fernández-Baíllo
            </p>
        </footer>
</body>

</html>