<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    	<link type="text/css" rel="stylesheet" href="../css/questions.css">
    </head>
    <body>
        <header>
            <div class="sup">
                FACEBLUFF
            </div>
            <div class="navbar">           
                <a href="profile">Perfil</a>        
                <a href="friends">Amigos</a>        
                <a class="active" href="#">Preguntas</a>        
                <a href="logout">Desconectar</a>
                <% if(data) { %>
                    <a class="disabled"> <%= data.points %> pts.</a>
                <% } %>
            </div>
        </header>
        <div id="content">
            <h1>Preguntas seleccionadas aleatoriamente</h1>
            <div class="container">
                <% if (questions !== undefined) { %>
                    <ul>
                    <% questions.forEach(p =>{ %>
                        <li><a class="questions" href="/question?id=<%=p.id%>" type="submit"><%= p.text %></a></li>
                    <% }) %>
                 </ul>
                <% } else { %>
                        <p>No hay ningúna pregunta, ¡Añádelas!</p>
                <% } %>
            </div>
            <h1>¡Añade tus preguntas!</h1>
            <a id="newq" type="submit" href="/newquestion">Crear nueva pregunta</a>
        </div>
    </body>
</html>