@import url('https://fonts.googleapis.com/css?family=Margarine');
@import url('https://fonts.googleapis.com/css?family=Exo');

*{
    margin: 0;
    top: 0;
}

html, body {
  top: 0;
  margin: 0;
  height: 100%;
  font-family: 'Exo', sans-serif;
  background-color: #084270;
}

.disabled {
  pointer-events: none;
}

.sup{
  height: 120px;
  font-size: 90px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: yellow;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    font-family: 'Margarine', cursive !important;
    text-align: center;
    background-color: whitesmoke;
}

  .navbar {
    width: 100%;
    background-color: whitesmoke;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    transition: 0.3s;
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #084270;
    opacity: 0.95;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    color: whitesmoke;
    background-color: #084270;
  }

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
      .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
      }
  }

  #content {
    margin-top: 80px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
  margin-bottom: 30px;
  color: whitesmoke;
}

.question{
    padding: 50px;
    background-color: whitesmoke;
    border: solid 2px #333333;
    color: black;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Full-width inputs */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

footer {
    font-size: 12px;
    flex-shrink: 0;
    margin-top: 70px;
    position: static;
    bottom: 0;
    background: #333333;
    width:100%;
    text-align: center;
    color: whitesmoke;
}

li{
  list-style-type: none;
}

.answ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cen {
  margin-right: 50%;
}

.profile_button {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  color: #084270;
  padding: 14px 20px;
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Add a hover effect for buttons */
.profile_button:hover {
  border: solid 1.5px whitesmoke;
  background-color: #084270;
  color: whitesmoke;
  opacity: 0.8;
}