@import url('https://fonts.googleapis.com/css?family=Margarine');
@import url('https://fonts.googleapis.com/css?family=Exo');

html, body {
    top: 0;
    margin: 0;
    height: 100%;
    font-family: 'Exo', sans-serif;
    background-color: #084270;
}

.disabled {
  pointer-events: none;
}

h4{
  color: white;
} 

body {
  display: flex;
  flex-direction: column;
}

.mytext {
  color: whitesmoke;
}

.sup{
  height: 120px;
  font-size: 90px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: yellow;
}
  
header{
    font-family: 'Margarine', cursive !important;
    text-align: center;
    background-color: whitesmoke;
}
  
#logo {
  margin: 10px;
  max-width:30%;
  height: auto;
}
  
.navbar {
  width: 100%;
  background-color: whitesmoke;
  overflow: auto;
}
    
    /* Navigation links */
.navbar a {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  transition: 0.3;
}
    
/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #084270;
  opacity: 0.9;
}

/* Style the current/active link */
.navbar a.active {
  color: whitesmoke;
  background-color: #084270;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
  
#content {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table {
  background-color:hsla(0, 19%, 74%, 0.1);
  border-radius: 10px;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80%;
  color: whitesmoke;
  transition: 0.5s;
  margin-bottom: 30px;
}

td > * {
  vertical-align : middle;
}

table:hover {
  -ms-transform: scale(1.05, 1.05); /* IE 9 */
  -webkit-transform: scale(1.05, 1.05); /* Safari */
  transform: scale(1.05, 1.05);
}

.profile_button {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  color: #084270;
  padding: 14px 20px;
  margin: 8px 0;
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
}

/* Add a hover effect for buttons */
.profile_button:hover {
  border: solid 1.5px whitesmoke;
  background-color: #084270;
  color: whitesmoke;
  opacity: 0.8;
}
.friendsView {
  text-decoration: none;
  font-family: "GloriaHallelujah";
  font-size: 20pt;
  color: black;
}

#displayProfile {
  border-spacing: 15px;
}

.icon {
  width: 175px;
}

#displayProfile {
  border-spacing: 15px;
}

.data {
  text-align: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  grid-column-gap: 30px;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

div.gallery {
  flex-grow: 1;
  padding: 1px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 25%;
  margin-bottom: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  background-color: whitesmoke;
  padding: 8px 2px;
  text-align: center;
}

.twocolumns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #084270;;
  background-color: whitesmoke;
  display: inline-block;
  padding: 10px 8px;
  border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  transition: 0.2s;
  background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
