@import url('https://fonts.googleapis.com/css?family=Margarine');
@import url('https://fonts.googleapis.com/css?family=Exo');


*{
    margin: 0;
    top: 0;
}

html, body {
  top: 0;
  margin: 0;
  height: 100%;
  font-family: 'Exo', sans-serif;
  background-color: #084270;
}

.sup{
    height: 130px;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: yellow;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    font-family: 'Margarine', cursive !important;
    text-align: center;
    background-color: whitesmoke;
}

#logo {
    margin: 10px;
    max-width:30%;
    height: auto;
}


  .navbar {
    width: 100%;
    background-color: whitesmoke;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    transition: 0.3s;
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #084270;
    opacity: 0.95;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    color: whitesmoke;
    background-color: #084270;
  }

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
      .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
      }
  }

  #content {
    margin-top: 80px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
  margin-bottom: 30px;
  color: whitesmoke;
}

p{
  font-size: 30px;
  margin-bottom: 30px;
  color: whitesmoke;
}

#answq {
  display: inline-block;
  background-color: whitesmoke;
  color: #084270;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 5px;
}

table {
  background-color:hsla(0, 100%, 90%, 0.1);
  border-radius: 10px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

td{
  height: 100px;
}
td > * {
  vertical-align : middle;
 
}

.friendsView {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px;
  margin-bottom: 20px;
}

.guess_button {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  color: #084270;
  padding: 14px 20px;
  margin-left: 60%;
  border: none;
  cursor: pointer;
  width: 90%;
  transition: 0.3s;
  border-radius: 5px;
}

.guess_button:hover {
background-color: beige;
opacity: 0.8;
}